<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myxbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".NotificationClass"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/xboxicon"
        android:label="Dottan"
        android:roundIcon="@drawable/xboxicon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".WebView_Page"/>
        <activity android:name=".Another_Splash_Screen"/>
        <activity android:name=".InfoAboutApp"/>
        <activity android:name=".Sign_Up_Page"/>
        <activity android:name=".Login_Page"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                
            </intent-filter>
        </activity>
    </application>

</manifest>